@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">The Shopping system couldnt execute your request.</h2>
<p>
    <strong>Error message:</strong> <h3>@ViewData["Error"]</h3>
</p>

