
@{
    ViewData["Title"] = "Allgood";
}

    <script>
    window.setTimeout(function () {
        window.location.href = '/Home';
    }, 5000);
    </script>

<h2>Every thing is O.K!</h2>
<h3>the your purches wher verified and will be sent to you shortly</h3>
<h5>in a few momemnt you will be sent back to the home page</h5>

