
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form action="/Home/LoginForm" method="post">
    <input type="text" name="name" title="user name" />
    <input type="password" name="password" title="password"/>
    <input type="submit" value="Login" />
</form>