@using sadna192;
@{
    ViewData["Title"] = "Recipt";
}

<h2>Recipt</h2>

<table style="width:100%">
    <tr>
        <th>Product Name</th>
        <th>Amount</th>
        <th>Toatl Price</th>
    </tr>
    @{
        double sum = 0;
    }
    @foreach (KeyValuePair<ProductInStore, KeyValuePair<int, double>> pr in (List<KeyValuePair<ProductInStore, KeyValuePair<int, double>>>)ViewData["recipt"])
    {
        <tr>
            <th>@pr.Key.getName()</th>
            <th>@pr.Value.Key</th>
            <th>@pr.Value.Value$</th>
            @{ 
                sum += pr.Value.Value;
            }
        </tr>
    }
</table><br />
The total amount is @sum$
<table style="width:100%">
    <tr>
        <th>
            <form action="return_to_cart" method="post">
                <input type="submit" value="back to cart">
            </form>
        </th>
        <th>

            @using (Html.BeginForm("finalize", "Home", FormMethod.Post))
            {
                <font> card_number deatails:</font> <input type="text" name=" card_number" /><br />
                <font>month:</font><input type="number" name="month" /><br />
                <font>year:</font><input type="number" name="year" /><br />
                <font>holder:</font><input type="text" name="holder" /><br />
                <font>ccv:</font><input type="text" name="ccv" /><br />
                <font>id:</font><input type="text" name="id" /><br />
                <font>country:</font><input type="text" name="country" /><br />
                <font>city:</font><input type="text" name="city" /><br />
                <font>zip:</font><input type="text" name="zip" /><br />
                <input type="submit" value="check out">
            }
        </th>
    </tr>
</table>