
@{
    ViewData["Title"] = "RegisterSuccess";
}
<script>
    window.setTimeout(function () {
        window.location.href = '/Home';
    }, 2000);
</script>
<h2>Register Has Succeeded!</h2><br />
<h2>you will be redirected to main oage shortly</h2>

