
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form action="/Home/RegisterForm" method="post">
    <font color="black">Username: </font>
    <input type="text" name="name" title="user name" />
    <br />
    <font color="black">Password: </font>
    <input type="password" name="password" title="password" />
    <br />
    <input type="submit" value="Register" />
</form>

